<%= content_for :head  do %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<% end %>

<div id='map_element' style='width: 500px; height: 500px;'>
</div>

<%= javascript_include_tag 'openmaps' %>
